
.main__products-hot {
     margin-top: 100px;
     margin-bottom: 100px;
   }
   .main .main__products-title {
     text-align: center;
     margin-bottom: 20px;
   }
   .main__products-title p {
     font-size: 30px;
     font-weight: bold;
     text-transform: uppercase;
     opacity: 0.75;
   }
   
.product {
     margin: 20px 0;
     overflow: hidden;
     box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
     display: flex;
     flex-direction: column;
   }
   .product .thumb {
     position: relative;
     overflow: hidden;
     height: 300px;
   }
   
   .fit-img {
     width: 100%;
     object-fit: cover;
     object-position: center;
     height: auto;
     transition: all 0.5s ease;
   }
   .zoom-img:hover {
     transform: scale(1.2);
   }
   .product .badges {
     position: absolute;
     z-index: 2;
     top: 20px;
     left: 20px;
   }
   .product .badges .sale {
     background: #000;
   }
   .product .badges .new {
     background: #f6ab49;
   }
   .product .badges span {
     font-size: 12px;
     font-weight: 400;
     line-height: 1;
     display: block;
     padding: 4px 12px;
     text-align: center;
     text-transform: capitalize;
     color: #fff;
     border-radius: 3px;
   }
   .product .ishot {
     position: absolute;
     z-index: 2;
     top: 20px;
     right: 20px;
   }
   .product .ishot .sale {
     background: #000;
   }
   .product .ishot .new {
     background: #ff0080;
   }
   .product .ishot span {
     font-size: 12px;
     font-weight: 400;
     line-height: 1;
     display: block;
     padding: 4px 12px;
     text-align: center;
     text-transform: capitalize;
     color: #fff;
     border-radius: 3px;
   }
   
   .product .content {
     padding: 30px 20px;
     background: #fff;
     display: flex;
     flex-direction: column;
   }
   
   .product .content .title {
     font-size: 18px;
     font-weight: 600;
     line-height: 1.2;
     margin-bottom: 10px;
     color: #383838;
     display: -webkit-box;
     -webkit-line-clamp: 1;
     -webkit-box-orient: vertical;
     overflow: hidden;
     text-overflow: ellipsis;
     word-break: break-word;
   
     margin-top: auto;
     flex-shrink: 0;
   }
   .product .content .price {
     font-size: 16px;
     margin: 20px 0;
     flex: 1;
   }
   .product .content .price .new {
     color: #000;
   }
   .product .content .price .old {
     font-size: 16px;
     margin-right: 10px;
     text-decoration: line-through;
     color: #f6ab49;
   }
   .product .content .symbol {
     font-size: 24px;
     text-align: left;
   }
   .product .content .symbol i {
     padding: 0 8px;
     
     color: #000;
   }
   .product .content .symbol i:hover {
     color: #f6ab49;
   }
   
.main__products-more a {
     font-size: 12px;
     padding: 8px;
     color: #000;
     background: #fff;
     border: 1px solid #ccc;
     border-radius: 8px;
     float: right;
   }
   .main__products-more a:hover {
     background: var(--primary-color);
     color: #fff;
   }
   .main__products-sale .banner-sale img {
     width: 100%;
     margin-bottom: 10px;
   }
   .main .main__accessory,
   .main .main__products {
     margin: 100px 0;
   }
   
/* css new */
.product .new__author {
     margin: 10px 0;
     font-size: 12px;
     font-style: italic;
   }
   .product .new__desc {
     margin: 8px 0;
     display: -webkit-box;
     -webkit-line-clamp: 3;
     -webkit-box-orient: vertical;
     overflow: hidden;
     text-overflow: ellipsis;
     word-break: break-word;
   }
   .product .new__desc p {
     font-size: 14px;
     text-align: justify;
   }
   .product .new__more {
     margin-top: 8px;
     font-size: 13px;
     text-decoration: underline;
   }
   .opacity-img:hover {
     opacity: 0.7;
   }
   
   /* main bottom */
   .main .main__bottom,
   .footer__top {
     padding: 80px 0;
   }
   .main .main__bottom .main__bottom-wrap {
     background: #f4f4f4;
     padding: 30px 28px 25px;
     text-align: center;
   }
   .main__bottom .main__bottom-wrap .wrap__icon {
     font-size: 30px;
     margin-bottom: 20px;
   }
   .main__bottom .main__bottom-wrap .wrap__content .title {
     font-size: 16px;
     font-weight: 500;
     text-transform: uppercase;
     margin-bottom: 10px;
   }
   
   .banner-sale{
     height: 250px;
   }


   .main__products .main__products-title {
     text-align: center;
     margin-bottom: 20px;
     margin-top: 40px;
   }
   .main__brand{
     margin-top: 50px;
     margin-bottom: 50px;
   }
   
   
   .maxProduct{
   max-height: 1200px; overflow: auto;

   }